In [1]:
import pandas as pd

In [2]:
vg = pd.read_csv('vgsales.csv')

In [3]:
vg.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [51]:
y = vg[['Global_Sales']]

In [52]:
x = vg[['EU_Sales']]

In [53]:
from sklearn.linear_model import LinearRegression

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [56]:
lr = LinearRegression()

In [86]:
lr.fit(x_train, y_train)

LinearRegression()

In [87]:
y_pred = lr.predict(x_test)

In [88]:
y_test.head()

      Global_Sales
1691          1.19
6984          0.23
5039          0.38
3860          0.52
6317          0.27

In [89]:
y_pred[0:5]

array([[1.725642  ],
       [0.06004674],
       [0.34971548],
       [0.7299057 ],
       [0.51265414]])

In [90]:
from sklearn.metrics import mean_squared_error

In [91]:
mean_squared_error(y_test, y_pred)

0.37865731933147934

In [92]:
x = vg[['NA_Sales']]

In [93]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [94]:
lr2 = LinearRegression()

In [95]:
lr2.fit(x_train, y_train)

LinearRegression()

In [101]:
y_pred2 = lr.predict(x_test)

In [102]:
from sklearn.metrics import mean_squared_error

In [103]:
mean_squared_error(y_test, y_pred)

5.069455035205974

In [104]:
y_test.head()

       Global_Sales
8121           0.18
5219           0.36
3193           0.63
10991          0.09
11275          0.08

In [106]:
y_pred[0:5]

array([[1.725642  ],
       [0.06004674],
       [0.34971548],
       [0.7299057 ],
       [0.51265414]])

In [107]:
# LOGOISTIC REGRESSION

In [108]:
import pandas as pd

In [111]:
ms = pd.read_csv('vgsales.csv')